@import "primeicons/primeicons.css";

h1, span {
    font-size: 1.5rem !important;
}

p-card, p-button {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

input {
    width: 100% !important;
}